@charset "UTF-8";
* {
  font-size: 20px;
}

/* 全域 border box */
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  background-color: #2D2D3A;
  color: #fff;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 30px;
  font-weight: lighter;
  color: grey;
  cursor: pointer;
}

.close:hover {
  color: #fff;
  font-size: 32px;
  font-weight: bolder;
}

.result {
  text-align: center;
  margin-top: 30px;
}

.answerarea {
  text-align: center;
}

.answerarea .anstxt {
  margin-top: 25px;
}

.answerarea .answernum {
  color: #C54C4D;
}

.showarea {
  display: flex;
  justify-content: space-around;
}

.showarea .icon {
  font-size: 60px;
  margin: 0 auto;
}

.showarea .toptime, .showarea .topnum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keepPlaying {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: solid 2px #58B8E1;
  border-radius: 9px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}

.keepPlaying:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 2px black;
  color: #fff;
}
